{% extends "post/layout.html" %}

{% block title %}
    Post Detail pk#{{ post.pk }}
{% endblock title%}

{% block content %}
    <h2>Author: {{ post.author }}</h2>

    {% if post.photo %}
        <div>
            <img src="{{ post.photo.url }}" style="width: 500px;" />
        </div>
    {% endif %}

    {{ post.content|linebreaks }}
    <hr/>
    <a href="{% url 'apply:post_list' %}" class="btn btn-primary">
        목록
    </a>

    <a href="{% url 'apply:post_edit' post.pk %}" class="btn btn-info">
        수정
    </a>

    <a href="{% url 'apply:post_delete' post.pk %}" class="btn btn-danger">
        삭제
    </a>
{% endblock content %}

